[submodule "ghc-events"]
	path = ghc-events
	url = https://github.com/NCrashed/ghc-events.git
	branch = incremental
[submodule "binary-serialise-cbor"]
	path = binary-serialise-cbor
	url = https://github.com/well-typed/binary-serialise-cbor
